<h1>This is the index page</h1>

<% @jobs.each do |job| %>

  <h2><%= link_to job.title, job_path(job) %></h2>
  <p><%= job.description %></p>
  <%= link_to 'Edit', edit_job_path(job) %><br>
  <%= link_to 'Delete', job_path(job), method: :delete, data: { confirm: 'Are you sure?' } %><br>

<% end %>

<%= link_to "New Job", new_job_path %>
